# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

# Azure Functions
azure-functions

# Application dependencies (from traffic_update_service)
pandas>=2.3.3
pydantic>=2.12.3
python-dotenv>=1.2.1
requests>=2.32.5